pyttsx3
SpeechRecognition
pyaudio
opencv-python
reportlab
Pillow
tkintertable
numpy
pandas
scikit-learn
tensorflow
keras
matplotlib
seaborn
scikit-image
joblib
tk
pyinstaller
mysql-connector-python
requests
flask
fastapi
uvicorn
gtts
langdetect
playsound3

